.sidebar{
    max-width: 280px;
}

.cont{
    margin-left:304px;
    width: calc(100% - 304px); 
    z-index: 111;
}


.pointer{
    cursor: pointer;
}

.fa-trash:hover{
    color: rgb(238, 10, 10);
}

.fa-pen:hover{
    color: rgb(14, 180, 14);
}