.sidebar{
    max-width: 280px;
}

.cont{
    margin-left:300px;
    width: calc(100% - 300px); 
    z-index: 111;
}

.back{
    margin-left: 10px;
}

.fa-trash:hover{
    color: red;
}

.fa-print:hover{
    color: green;
}